body {
  background-color: rgba(0, 0, 0, 0.2);
  font-family: monospace;
}

.categories-content {
  display: grid;
  grid-template: auto / 1fr;
  gap: 1.2em;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.25em;
}

.container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0.2em .5em;
  border: .5px solid black;
  border-radius: 12px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#add-category {
  justify-self: center;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border-radius: 12px;
  border: .2px solid black;
  padding: .5em;
  font-size: 1em;
  font-weight: 600;
  font-family: monospace, sans-serif;
}

button:hover {
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 800;
}

h2:hover {
  cursor: pointer;
  font-size: 1.6em;
}
