body {
  background-color: rgba(0, 0, 0, 0.2);
  font-family: monospace;
}

.items-content {
  display: grid;
  grid-template: auto / 1fr;
  gap: 1.2em;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.25em;
}

.item-card {
  padding: .2em;
  border-radius: 12px;
  border: .2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.4);
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  gap: 1.2em;
  padding: .2em;
}

p {
  font-size: 1.2em;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border-radius: 12px;
  border: .2px solid black;
  padding: .5em;
  font-size: 1em;
  font-weight: 600;
  font-family: monospace, sans-serif;
}

button:hover {
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 800;
}

