.categories-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .2em;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2em;
}

.category-container {
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: .2px solid black;
    border-radius: 12px;
    padding: .5em;
    gap: .2em;
}

#delete-category {
    cursor: pointer;
    font-size: 1.2em;
    padding: .2em;
}
