body {
  display: flex;
  flex-direction: column;
  gap: .5em;
  font-size: 1.8em;
  font-family: monospace;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

h2 {
  text-decoration: underline;
}

.homepage-links {
  display: flex;
  gap: 1.5em;
  padding: .75em;
  align-items: center;
}

a {
  height: 50px;
  width: 200px;
  padding: .2em;
  border: .2em solid black;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

a > button {
  border: none;
  background: transparent;
  font-size: 1em;
}

a > button:hover {
  cursor: pointer;
  font-size: 1.2em;
}

a:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}
