<!DOCTYPE html>
<html lang="en">
  <head>
    <title> <%= title %> </title>
  </head>
  <body>
    <h2><%= title %></h2>
    <% if (locals.items) {%>
      <main class="items-content">
        <% items.forEach((item) => { %>
          <div class="item-card">
            <h2><%= item.itemname %></h2>
            <p><%= item.itemquantity %></p>

            <div class="item-card-options">
              <a href="/">
                <button>Edit</button>
              </a>
              <a href="/">
                <button>Delete</button>
              </a>
            </div>
          </div>
        <%})%>
      </main>
    <%}%>

    <a href="/categories">
      <button>Back</button>
    </a>
  </body>
</html>
