<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Categories</title>
    <link href="/categories.css" rel="stylesheet" />
  </head>
  <body>
    <% if (locals.categories) { %>
    <main class="categories-content">
      <div class="container">
        <% categories.forEach((category) => { %>
        <div>
          <a href="/categories/<%= category.categoryname %>">
            <div class="category-btn">
              <h2><%= category.categoryname %></h2>
            </div>
          </a>
          <a href="/categories/delete/<%= category.categoryname %>">
            <div class="delete-category">
              <button>Delete</button>
            </div>
          </a>
        </div>
        <%})%>
      </div>
      <a href="/categories/add" id="add-category">
        <button>Add Category</button>
      </a>
    </main>
    <% } %>
  </body>
</html>
