<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <main class="main-content">
      <h3><%= title %></h3>
      <% if (locals.categories) { %>
      <ul>
        <% categories.forEach((category) => { %> 
          <li><%= category.categoryname %></li>
          <a href="/delete/<%= category.categoryname %>">Delete</a>
        <%})%>
      </ul>  
    <%}%>
      <a href='/category/new'>Add New Category</a>
    </main>
  </body>
</html>
