<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DumpSite</title>
    <link href="/index.css" rel="stylesheet" />
  </head>
  <body>
    <h2>DumpSite</h2>
    <p>Put anything and everything you might own in its own category and find it
      easily</p>

    <div class="homepage-links">
      <a href="/categories">
        <button class="categories-btn">Categories</button>
      </a>
      <a href='/items'>
        <button class="items-btn">Items</button>
      </a>
    </div>
  </body>
</html>
